version: "3"
services:
  mobilecustomer:
    depends_on:
      - db
    image: docker.io/mhuysamen/mobilecustomer:0.0.1
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 0314dd27-d5d4-48be-938b-cafea9f1b645
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: 0314dd27-d5d4-48be-938b-cafea9f1b645